.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
}

#details {
    overflow: hidden;
}

#details img {
    max-width: 100% !important;
    height: auto;
    display: block;
}
